[submodule "quorum"]
	path = quorum
	url = /software/distr/quorum
[submodule "SuperReads"]
	path = SuperReadsR
	url = /software/distr/SuperReadsR
[submodule "jellyfish"]
	path = jellyfish
	url = /software/distr/jellyfish
[submodule "ufasta"]
	path = ufasta
	url = /software/distr/ufasta.git
