[submodule "quorum"]
	path = quorum
	url = https://github.com/alekseyzimin/Quorum.git
[submodule "SuperReadsR"]
	path = SuperReadsR
	url = https://github.com/alekseyzimin/SuperReadsR.git
[submodule "jellyfish"]
	path = jellyfish
	url = https://github.com/alekseyzimin/Jellyfish.git
[submodule "ufasta"]
	path = ufasta
	url = https://github.com/alekseyzimin/ufasta.git
